.shopping-container{
    display: grid;
    grid-template-columns: 4fr 1fr;
   
}
.products{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    margin: 100px 60px 50px 100px;
}
